{% extends 'base.html.twig' %}

{% block content %}
    <div class="page-header">
      <h2>SOFTWARE PACKAGES</h2>
    </div>
<a class="btn btn-default btn-sm" href="{{ path('software_new') }}">ADD SOFTWARE</a>
<hr>
    <table class="table table-bordered">
        {% for software in softwares %}
            <tr>
                <td>{{ loop.index }}</a></td>
                <td class="text-left"><a href="{{ path('software_show', { 'slug': software.slug }) }}">{{ software.name }}</a></td>
                <td class="text-left">
                            <a class="btn btn-default btn-sm" href="{{ path('software_edit', { 'slug': software.slug }) }}">EDIT</a>
                </td>
            </tr>
        {% endfor %}
    </table>




{% endblock %}
