{% extends 'base.html.twig' %}

{% block main %}
    <h2>Software Types</h2>
    <hr>
    <a class="btn btn-default btn-sm" href="{{ path('softwaretype_new') }}">ADD SOFTWARE TYPE</a>
    <div class="row">
    <div class="col-md-8 col-md-push-2">
    <table class="table table-bordered table-striped">
        {% for softwareType in softwareTypes %}
            <tr>
                <td>{{loop.index}}</td>
                <td class="text-left"><a class="btn" href="{{ path('softwaretype_show', { 'slug': softwareType.slug }) }}">{{ softwareType.name }}</a></td>
                <td class="text-left">
                    <a class="btn btn-default btn-sm" href="{{ path('softwaretype_edit', { 'slug': softwareType.slug }) }}">EDIT</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    </div>
{% endblock %}
