{% extends 'base.html.twig' %}

{% block main %}
    <h2>{{ softwareType.name }}</h2>
     <!-- TWIG MACRO -->
    {% macro getparent1(node) %}
    {% import _self as macros %}
        {% if node %}
            {% if node.parent %}
                    {{ macros.getparent1(node.parent) }}
            {% endif %}
            <a href="{{ path('softwaretype_show', {'id' : node.id}) }}">{{node.name}}</a> &gt; 
        {% endif %}
    {% endmacro %}
    {% import _self as macros %}{{ macros.getparent1(softwareType.parent) }}
    
    <!-- MACRO END -->
    <hr>
    <a class="btn btn-default btn-sm" href="{{ path('softwaretype_index') }}">ALL CATEGORIES</a>
    <a class="btn btn-default btn-sm" href="{{ path('softwaretype_edit', { 'id': softwareType.id }) }}">EDIT</a>
    {{form_start(delete_form, {attr: {'style': 'display: inline', 'onsubmit': 'return confirm("Are You Sure?")'}})}}
      <input class="btn btn-default btn-sm" type="submit" value="DELETE">
    {{form_end(delete_form)}}
    <hr>
    <div class="row">
        <div class="col-md-8 col-md-push-2">
			<div class="well">
			
            	<strong>{{ softwareType.description }}</strong>
			</div>
       
			{% if softwareType.subtypes | length > 0 %}
				<h3>Categories under {{softwareType.name}}</h3>
		 		<table class="table table-bordered">
        			{% for softwareType in softwareType.subtypes %}
            		<tr>
                		<td>{{loop.index}}</td>
                		<td class="text-left"><a class="btn" href="{{ path('softwaretype_show', { 'id': softwareType.id }) }}">{{ softwareType.name }}</a></td>
                		<td class="text-left">
                    		<a class="btn btn-default btn-sm" href="{{ path('softwaretype_edit', { 'id': softwareType.id }) }}">EDIT</a>
                		</td>
            		</tr>
        			{% endfor %}
    			</table>
			{% endif %}
 		</div>
    </div>
{% endblock %}